
.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
.DS_Store
.gradle/7.0.2/dependencies-accessors/gc.properties
.gradle/7.0.2/fileChanges/last-build.bin
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/checksums/checksums.lock
.gradle/vcs-1/gc.properties
.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_3_0.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_4_1_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_4_1_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_3_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_7_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_7_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_4_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_4_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_5_0_aar.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_5_31.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_31.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_5_20.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_5_20.xml
.idea/modules.xml
.idea/modules/authentication_sdk/PayBox_Authentication_SDK.authentication_sdk.iml
.idea/modules/PayBox_Authentication_SDK.iml
authentication_sdk/.DS_Store
authentication_sdk/.idea/modules.xml
authentication_sdk/.idea/modules/authentication_sdk.iml
authentication_sdk/local.properties
authentication_sdk/src/.DS_Store
authentication_sdk/src/main/.DS_Store
authentication_sdk/src/main/java/.DS_Store
authentication_sdk/src/main/java/money/.DS_Store
authentication_sdk/src/main/java/money/paybox/.DS_Store
authentication_sdk/src/main/java/money/paybox/authentication_sdk/.DS_Store
gradle/.DS_Store
local.properties
